@inject IConfiguration config
@{
	AppConfig? appConfig = config.GetSection("Project").Get<AppConfig>();
}
<div id="header-wrapper">
	<div class="container">
		<header id="header">
			<div class="inner">
				<h1>
					<a asp-area="" asp-controller="Home" asp-action="Index" id="logo">
						@appConfig?.StudentPlatform.Name
					</a>					
				</h1>
				@(await Component.InvokeAsync<MenuViewComponent>())
			</div>
		</header>
	</div>
</div>