<div class="col-4 col-12-medium">
	<div id="sidebar">
		<section>
			<header class="major">
				<h2>Добро пожаловать!</h2>
			</header>
			<p>
				Данный сайт создан для более удобного обучения.
			</p>
			<footer>
				<a asp-area="" asp-controller="Services" asp-action="Index" class="button icon solid fa-info-circle">
					Перейти к просмотру возможностей пользователя
				</a>
			</footer>
		</section>

	</div>
</div>
