@model ServiceDTO
@{
    string? strTitle = Model.Title;
    ViewBag.Title = strTitle;
}
@await Html.PartialAsync("_SidebarPartial")
<div class="col-8 col-12-medium imp-medium">
    <div id="content">
        <h2 class="service-item">
            @strTitle
        </h2>
        @if (Model.CategoryName != null)
        {
            <div class="service-item">
                Категория: <span class="text-bold">@Model.CategoryName</span>
            </div>
        }
        <div class="service-item">
            Тип поста: <span class="text-bold">@Model.Type</span>
        </div>
        <div class="service-item">
            <img src="~/img/@Model.PhotoFileName" class="img-block" />
        </div>
        <div class="service-item">
            @Model.DescriptionShort
        </div>
        <div class="service-item">
            @Html.Raw(Model.Description)
        </div>
    </div>
</div>