@model IEnumerable<ServiceDTO>
<nav id="nav">
    <ul>
        <li>
            <a asp-area="" asp-controller="Home" asp-action="Index">Главная</a>
        </li>
        <li>
            <a asp-area="" asp-controller="Services" asp-action="Index">Посты</a>
            <ul>
                @foreach (ServiceDTO entity in Model)
                {
                    <li>
                        <a asp-area="" asp-controller="Services" asp-action="Show" asp-route-id="@entity.Id">
                            @entity.Title
                        </a>
                    </li>
                }
            </ul>
        </li>
        <li>
            <a asp-area="" asp-controller="Home" asp-action="Contacts">Контакты</a>
        </li>
    </ul>
</nav>
